schema/RequestObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RequestObject" type="RequestObject">
		<xs:annotation>
			<xs:documentation>RequestObject - RequestObject.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RequestObject">
		<xs:annotation>
			<xs:documentation>RequestObject - RequestObject.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personName" type="xs:string"></xs:element>
			<xs:element name="subscriberName" type="xs:string"></xs:element>
			<xs:element name="retrieveLogs" type="xs:boolean"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
